.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    border-color: lightgrey;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: linear-gradient(to right, red 0, red 45.5%, #ffaa00 45.5%, #ffaa00 93.35%, green 93.35%, green 100%);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    background: grey; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 2px;
}

.slider::-moz-range-thumb {
    width: 5px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    background: grey; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
