#block_container
{
    text-align:center;
}
#date-bloc
{
    display:inline;
    float: left;
}

#status-bloc {
    display:inline;
}
#status {
    color: red;
}

@media screen and (max-width: 1200px)  {
    #btn-timeline {
        left: 25%;
        display: none !important;
    }
}
.buttons {
    text-align: center;
}
#button-previous {
    float: left;
}
#button-next {
    float: right;
}

#day-bloc
{
    display:inline;
    float: right;
}
#map {
    height: 500px;
}
