.sources {
    margin-bottom: 0px;
}
#footer {
    margin-top: 4px;
}
#block_container
{
    text-align: center;
}
#date-bloc
{
    display: inline-block;
    float: left;
}

@media screen and (min-width: 1201px)  {
    #status-bloc-sm {
        display: none;
    }
    #status-bloc-sm.unhidden {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px)  {
    #status-bloc-lg {
        display: none;
    }
    #status-bloc-lg.unhidden {
        display: inline-block;
    }
}

.status-fight {
    color: red;
}
.status-prison {
    color: #ffaa00;
}
.status-return {
    color: green;
}

@media screen and (max-width: 1200px)  {
    #btn-timeline {
        left: 25%;
        display: none;
    }
    #btn-timeline.unhidden {
        display: inline-block;
    }
}
.buttons {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
#button-previous {
    display: inline-block;
    float: left;
}
#button-next {
    display: inline-block;
    float: right;
}

#day-bloc
{
    display: inline-block;
    float: right;
}
#map {
    height: 500px;
}
